@model Product

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2  class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body mt-4">
        <form method="Post" class="row">
            <div class="border p-3 mt-4">
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow"  />
                    <label asp-for="Title" class="ms-2"></label>
                   
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Description" class="ms-3"></label>
                    <input asp-for="Description" class="form-control border-0 shadow" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="ISBN" class="ms-3"></label>
                    <input asp-for="ISBN" class="form-control border-0 shadow" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Author" class="ms-3"></label>
                    <input asp-for="Author" class="form-control border-0 shadow" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="ListPrice" class="ms-3"></label>
                    <input asp-for="ListPrice" class="form-control border-0 shadow" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Price" class="ms-3"></label>
                    <input asp-for="Price" class="form-control border-0 shadow" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Price50" class="ms-3"></label>
                    <input asp-for="Price50" class="form-control border-0 shadow" />
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Price100" class="ms-3"></label>
                    <input asp-for="Price100" class="form-control border-0 shadow" />
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>

                <div class="row py-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary" style="width:150px">
                            Back to List
                        </a>
                    </div>

                </div>

            </div>

        </form>
    </div>
</div>


@section Scripts 
{

    @{

        <partial name="_ValidationScriptsPartial" />
    }
}