@model Product
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body mt-4">
        <form method="Post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" disabled class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Description" disabled class="ms-3"></label>
                    <input asp-for="Description" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="ISBN" disabled class="ms-3"></label>
                    <input asp-for="ISBN" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Author" disabled class="ms-3"></label>
                    <input asp-for="Author" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="ListPrice" disabled class="ms-3"></label>
                    <input asp-for="ListPrice" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Price" disabled class="ms-3"></label>
                    <input asp-for="Price" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Price50" disabled class="ms-3"></label>
                    <input asp-for="Price50" class="form-control border-0 shadow" />
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="Price100"  disabled class="ms-3"></label>
                    <input asp-for="Price100" class="form-control border-0 shadow" />
                </div>

                <div class="row py-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>

                </div>

            </div>

        </form>
    </div>
</div>


